header {
    height: 500px;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(136, 167, 167);


}

h2 {
    font-size: 40px;
    font-family: 'Domine', serif;

}

.spans {
    font-size: 30px;
    font-family: 'JetBrains Mono', monospace;

}

.message {
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;

}

input:checked + img {
      border: solid 8px rgb(147, 224, 173);
}

  input {
    display: none;
}

  .hidden {
      visibility: hidden;
  }
  button {
      width: 100px;
      height: 35px;
      margin: 2px;
      font-size: 20px;
  }